# STEP 1
In this step we simply follow parts of the pandapower minimal example

# first we create the network from scratch
these are the commands as they are needed in pandapower, you as a user have NO control over how these are written but you have control over which input you put in them...

usually the things in 'green.yellow()' and 'blue =' below are your inputs and also how you decide to name the buses index: bus1 bus2 etc

notice that for example we choose to connect the load in the bus whose index is bus3 and whose name is "Bus 3" (seems like I am speaking about the same things but it is not...try these variables below in the code and you will see

In [1]:
## PRESS PLAY

import pandapower as pp

#create empty net
net = pp.create_empty_network()

#create buses
bus1 = pp.create_bus(net, vn_kv=20., name="Bus 1")
bus2 = pp.create_bus(net, vn_kv=0.4, name="Bus 2")
bus3 = pp.create_bus(net, vn_kv=0.4, name="Bus 3")

#create bus elements
pp.create_ext_grid(net, bus=bus1, vm_pu=1.02, name="Grid Connection")
pp.create_load(net, bus=bus3, p_mw=0.100, q_mvar=0.05, name="Load")

#create branch elements
trafo = pp.create_transformer(net, hv_bus=bus1, lv_bus=bus2, std_type="0.4 MVA 20/0.4 kV", name="Trafo")
line = pp.create_line(net, from_bus=bus2, to_bus=bus3, length_km=0.1, std_type="NAYY 4x50 SE", name="Line")

In [16]:
## PRESS PLAY AND YOU WILL CONTINUE TO PRESS PLAY IN ALL THE CELLS BELOW

bus3 #this is simple the index of the bus named "Bus 3" (is the number of the element that pandapower attributes to it.
# So, in this case bus3 with name 'Bus 3' has the index of 2 within the simulations.
# This happens because python starts counting from 0.

np.int64(2)

# when we have the netwrok built we can check what we have in it in the following way:
(you can try checking all the elements in your network I only checked two)

In [3]:
net.bus #your bus bars and their attributes, here again you see that "Bus 3" is in the position "2" this is what I meant before

    name  vn_kv type  zone  in_service   geo
0  Bus 1   20.0    b  None        True  None
1  Bus 2    0.4    b  None        True  None
2  Bus 3    0.4    b  None        True  None

In [4]:
net.line #your lines and properties

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service,geo
0,Line,NAYY 4x50 SE,1,2,0.1,0.642,0.083,210.0,0.0,0.142,1.0,1,cs,True,NaN

In [5]:
net #these are all the things you can check: net.bus, net.line, net.load, etc.

This pandapower network includes the following parameter tables:
   - bus (3 elements)
   - load (1 element)
   - ext_grid (1 element)
   - line (1 element)
   - trafo (1 element)

# One a network is built this is how you run a power flow:

In [17]:
pp.runpp(net)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

## ....and now we have more things to check, all the "res" tables are results (that we did not have before)
check what results you got, does it make sense? (how big was the load and how much energy are we drawing from the external grid?)

In [7]:
net

This pandapower network includes the following parameter tables:
   - bus (3 elements)
   - load (1 element)
   - ext_grid (1 element)
   - line (1 element)
   - trafo (1 element)
 and the following results tables:
   - res_bus (3 elements)
   - res_line (1 element)
   - res_trafo (1 element)
   - res_ext_grid (1 element)
   - res_load (1 element)

In [8]:
net.res_load

   p_mw  q_mvar
0   0.1    0.05

In [9]:
net.res_ext_grid

       p_mw    q_mvar
0  0.107265  0.052675

## accessing numbers
here I just show you how to access the values of some of your dataframes

In [10]:
net.bus #I will use this dataframe as an example

    name  vn_kv type  zone  in_service   geo
0  Bus 1   20.0    b  None        True  None
1  Bus 2    0.4    b  None        True  None
2  Bus 3    0.4    b  None        True  None

In [11]:
type(net.bus) #this is a dataframe, this is how you check in case you don't know

pandas.core.frame.DataFrame

In [12]:
net.bus.loc[2] #here I am checking the element 2 of that dataframe (which is "Bus 3")

name          Bus 3
vn_kv           0.4
type              b
zone           None
in_service     True
geo            None
Name: 2, dtype: object

In [13]:
net.bus['vn_kv'] #here I am checking the column "vn_kv" of the dataframe, I could also just write: net.bus.vn_kv

0    20.0
1     0.4
2     0.4
Name: vn_kv, dtype: float64

In [14]:
import math as mth 
#here I am calculating the apparent power of the loads and the apparent power on the external grid 
#and seeing how much were the losses in the system
#does ther question below makes sense to you? if not ask :)

mth.sqrt(net.res_load.p_mw**2+net.res_load.q_mvar**2)-mth.sqrt(net.res_ext_grid.p_mw**2+net.res_ext_grid.q_mvar**2)

C:\Users\matis\AppData\Local\Temp\ipykernel_26176\2937173679.py:6: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  mth.sqrt(net.res_load.p_mw**2+net.res_load.q_mvar**2)-mth.sqrt(net.res_ext_grid.p_mw**2+net.res_ext_grid.q_mvar**2)

-0.00769781527465925

# More info here:
https://github.com/e2nIEE/pandapower/blob/master/tutorials/minimal_example.ipynb

you don't need to do this whole tutorial as long as you understand the basics that I wrote in this notebook, but I do think that the part called "Switches" can be useful later for the project (check it out now if you have time or leave it for later and move one to the next step in the tutorial)